<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"> &times;</button>
    <h4><i class="glyphicon glyphicon-info-sign"></i> <strong>Exclude Containers</strong></h4>
    <p>
        Using <code>class="container"</code> will bork the layout.<br/>
        <br/>
        However, <code>class="container-fluid"</code> works just fine.
    </p>
    <br/>
    <p>
        <button type="button" class="btn btn-info" data-dismiss="alert"><i class="glyphicon glyphicon-ok"></i> Got It!
        </button>
    </p>
</div>

<div id="code_editor" class="CodeMirror-scroll" ng-if="initialized" ng-init="init_code_editor()"></div>
