<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div ng-class="bootstyle.settings.grid_container_class">
        <button type="button" class="btn btn-link navbar-btn navbar-left navbar-link" ng-click="toggle_toolbar()">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bootstyle <span bootstyle-version></span></a>
        </div>

        <form class="navbar-form navbar-right">
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="download()">
                    <i class="glyphicon glyphicon-cloud-download"></i> Download
                </button>
            </div>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li data-toggle="modal" data-target="#config_modal">
                <a href=""> <i class="glyphicon glyphicon-wrench"></i> Configure </a>
            </li>
            <li ng-click="reset()">
                <a href=""> <i class="glyphicon glyphicon-refresh"></i> Reset </a>
            </li>
        </ul>
    </div>
</nav>
