<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div ng-class="bootstyle.settings.grid_container_class">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bootstyle <span bootstyle-version></span></a>
        </div>

        <form class="navbar-form navbar-right">
            <div class="form-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#download_modal">
                    <i class="glyphicon glyphicon-cloud-download"></i> Download
                </button>
            </div>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li ng-click="reset()">
                <a href=""> <i class="glyphicon glyphicon-refresh"></i> Reset </a>
            </li>
        </ul>
    </div>
</nav>
