<aside class="toolbar panel-group" id="toolbar">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#toolbar" data-target="#toolbar_base">
            <h1 class="panel-title">
                Base
            </h1>
        </div>
        <div class="panel-collapse collapse" id="toolbar_base">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.border_radius.control }}px</span>
                    <label> Border Radius
                        <input type="range" ng-model="ctrls.border_radius.control" min="0" max="30"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <small class="badge">{{ ctrls.padding.control }}px</small>
                    <label> Padding
                        <input type="range" ng-model="ctrls.padding.control" min="1" max="20"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <label>Container</label>

                    <div class="control-group">
                        <label class="radio-inline">
                            <input class="radio-inline" type="radio" name="container_classes" value="container" ng-model="ctrls.container_class.control">
                            Fixed
                        </label>
                        <label class="radio-inline">
                            <input class="radio-inline" type="radio" name="container_classes" value="container-fluid" ng-model="ctrls.container_class.control">
                            Fluid
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="control-group">
                        <div class="checkbox">
                            <label> Bootstrap Theme
                                <input type="checkbox" ng-model="ctrls.bootstrap_theme.control">
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#toolbar" data-target="#toolbar_navbar">
            <h1 class="panel-title">
                Navbar
            </h1>
        </div>
        <div class="panel-collapse collapse" id="toolbar_navbar">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.navbar_height.control }}px</span>
                    <label> Height
                        <input type="range" ng-model="ctrls.navbar_height.control" min="20" max="100"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.navbar_margin_bottom.control }}px</span>
                    <label> Margin Bottom
                        <input type="range" ng-model="ctrls.navbar_margin_bottom.control" min="0" max="100"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.navbar_bg.control }}</span>
                    <label>Background</label>

                    <div class="input-group">
                        <span class="input-group-addon" colorpicker ng-model="ctrls.navbar_bg.control" style="background-color: {{ ctrls.navbar_bg.control }}"></span>
                        <input class="form-control" type="text" colorpicker ng-model="ctrls.navbar_bg.control"/>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ vars['@navbar-inverse-color'] }}</span>
                    <label>Font Color</label>

                    <div class="control-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="ctrls.navbar_is_auto_color.control">
                                Auto
                            </label>
                        </div>
                    </div>
                    <div class="input-group" ng-hide="ctrls.navbar_is_auto_color.control">
                        <span class="input-group-addon" colorpicker ng-model="ctrls.navbar_font_color.control" style="background-color: {{ vars['@navbar-inverse-color'] }}"></span>
                        <input class="form-control" type="text" colorpicker ng-model="ctrls.navbar_font_color.control"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#toolbar" data-target="#toolbar_jumbotron">
            <h1 class="panel-title">
                Jumbotron
            </h1>
        </div>
        <div class="panel-collapse collapse" id="toolbar_jumbotron">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.jumbotron_padding.control }}px</span>
                    <label> Padding
                        <input type="range" ng-model="ctrls.jumbotron_padding.control" min="0" max="200"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.jumbotron_font_size.control }}px</span>
                    <label> Font Size
                        <input type="range" ng-model="ctrls.jumbotron_font_size.control" min="8" max="72"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <label>Background</label>

                    <div class="input-group">
                        <span class="input-group-addon" colorpicker ng-model="ctrls.jumbotron_bg.control" style="background-color: {{ ctrls.jumbotron_bg.control }}"></span>
                        <input class="form-control" type="text" colorpicker ng-model="ctrls.jumbotron_bg.control"/>
                    </div>
                </li>
                <li class="list-group-item">
                    <label>Font Colors</label>
                    <div class="control-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="ctrls.jumbotron_is_auto_color.control">
                                Auto
                            </label>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" ng-show="ctrls.jumbotron_is_auto_color.control">
                    <span class="badge">{{ ctrls.jumbotron_contrast.control }}</span>
                    <label> Contrast
                        <input type="range" ng-model="ctrls.jumbotron_contrast.control" min="0" max="1" step="0.01"/>
                    </label>
                </li>
                <li class="list-group-item" ng-hide="ctrls.jumbotron_is_auto_color.control">
                    <span class="badge">{{ vars['@jumbotron-heading-color'] }}</span>
                    <label>Heading Color</label>

                    <div class="input-group">
                        <span class="input-group-addon" colorpicker ng-model="ctrls.jumbotron_heading_color.control" style="background-color: {{ vars['@jumbotron-heading-color'] }}"></span>
                        <input class="form-control" type="text" colorpicker ng-model="ctrls.jumbotron_heading_color.control"/>
                    </div>
                </li>
                <li class="list-group-item" ng-hide="ctrls.jumbotron_is_auto_color.control">
                    <span class="badge">{{ vars['@jumbotron-color'] }}</span>
                    <label>Font Color</label>

                    <div class="input-group">
                        <span class="input-group-addon" colorpicker ng-model="ctrls.jumbotron_color.control" style="background-color: {{ vars['@jumbotron-color'] }}"></span>
                        <input class="form-control" type="text" colorpicker ng-model="ctrls.jumbotron_color.control"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#toolbar" data-target="#toolbar_headings">
            <h1 class="panel-title">
                Headings
            </h1>
        </div>
        <div class="panel-collapse collapse" id="toolbar_headings">
            <ul class="list-group fonts">
                <li class="list-group-item">
                    <label>Font</label>
                    <div class="control-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                {{ ctrls.headings_web_safe_font_family.control }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                                <li class="font_option"
                                    ng-repeat="f in fonts.web_safe.serif"
                                    ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                                    ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                                    ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                                    ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                                    style="font-family: {{ f.style }} !important">
                                    <a href="">{{ f.display_name }}</a>
                                </li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                                <li class="font_option"
                                    ng-repeat="f in fonts.web_safe.sans_serif"
                                    ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                                    ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                                    ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                                    ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                                    style="font-family: {{ f.style }} !important">
                                    <a href="">{{ f.display_name }}</a>
                                </li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                                <li class="font_option"
                                    ng-repeat="f in fonts.web_safe.monospace"
                                    ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                                    ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                                    ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                                    ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                                    style="font-family: {{ f.style }} !important">
                                    <a href="">{{ f.display_name }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.headings_font_size.control }}px</span>
                    <label>Size
                        <input type="range" min="10" max="21" ng-model="ctrls.headings_font_size.control"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.headings_font_weight.control }}</span>
                    <label>Weight
                        <input type="range" ng-model="ctrls.headings_font_weight.control" min="100" max="900" step="100"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.headings_font_contrast.control }}</span>
                    <label>Contrast
                        <input type="range" ng-model="ctrls.headings_font_contrast.control" min="0" max="1" step="0.01"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.headings_line_height.control }}</span>
                    <label>Line Height
                        <input type="range" ng-model="ctrls.headings_line_height.control" min="1" max="2" step="0.01"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ vars['@headings-color'] }}</span>
                    <label>Color</label>

                    <div class="control-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="ctrls.headings_is_auto_color.control">
                                Auto
                            </label>
                        </div>
                    </div>
                    <div class="input-group" ng-hide="ctrls.headings_is_auto_color.control">
                        <span class="input-group-addon" colorpicker ng-model="ctrls.headings_font_color.control" style="background-color: {{ vars['@headings-color'] }}"></span>
                        <input class="form-control" type="text" colorpicker ng-model="ctrls.headings_font_color.control"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#toolbar" data-target="#toolbar_buttons">
            <h1 class="panel-title">
                Buttons
            </h1>
        </div>
        <div class="panel-collapse collapse" id="toolbar_buttons">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.button_font_weight.control }}</span>
                    <label> Font Weight
                        <input type="range" ng-model="ctrls.button_font_weight.control" min="100" max="900" step="100"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <label>Styles</label>

                    <div class="radio">
                        <label>
                            <input type="radio" name="button_styles" value="default" ng-model="ctrls.button_style.control">
                            Default
                        </label>
                    </div>
                    <div class="radio" ng-repeat="s in stylesheets.button_styles">
                        <label>
                            <input type="radio" name="button_styles" ng-value="s.name" ng-model="ctrls.button_style.control">
                            {{ s.name }}
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="control-group">
                        <div class="checkbox">
                            <label> Uppercase
                                <input type="checkbox" ng-model="ctrls.buttons_uppercase.control">
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#toolbar" data-target="#toolbar_colors">
            <h1 class="panel-title">
                Colors
            </h1>
        </div>
        <div class="panel-collapse collapse" id="toolbar_colors">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{ bootstyle.variables.methods['@body-bg']() }}</span>
                    <label>Body</label>

                    <div class="input-group">
                        <span class="input-group-addon" colorpicker ng-model="ctrls.body_bg.control" style="background-color: {{ ctrls.body_bg.control }}"></span>
                        <input type="text" class="form-control" colorpicker ng-model="ctrls.body_bg.control"/>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="control-group">
                        <label>Primary</label>

                        <div class="input-group">
                            <span class="input-group-addon" colorpicker ng-model="ctrls.brand_primary.control" style="background-color: {{ ctrls.brand_primary.control }}"></span>
                            <input class="form-control" type="text" colorpicker ng-model="ctrls.brand_primary.control"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label>Success</label>

                        <div class="input-group">
                            <span class="input-group-addon" colorpicker ng-model="ctrls.brand_success.control" style="background-color: {{ ctrls.brand_success.control }}"></span>
                            <input class="form-control" type="text" colorpicker ng-model="ctrls.brand_success.control"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label>Info</label>

                        <div class="input-group">
                            <span class="input-group-addon" colorpicker ng-model="ctrls.brand_info.control" style="background-color: {{ ctrls.brand_info.control }}"></span>
                            <input class="form-control" type="text" colorpicker ng-model="ctrls.brand_info.control"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label>Warning</label>

                        <div class="input-group">
                            <span class="input-group-addon" colorpicker ng-model="ctrls.brand_warning.control" style="background-color: {{ ctrls.brand_warning.control }}"></span>
                            <input class="form-control" type="text" colorpicker ng-model="ctrls.brand_warning.control"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label>Danger</label>

                        <div class="input-group">
                            <span class="input-group-addon" colorpicker ng-model="ctrls.brand_danger.control" style="background-color: {{ ctrls.brand_danger.control }}"></span>
                            <input class="form-control" type="text" colorpicker ng-model="ctrls.brand_danger.control"/>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#toolbar" data-target="#toolbar_color_scheme">
            <h1 class="panel-title">
                <span class="text-muted">Color Scheme</span>
                <span class="label label-warning">Soon!</span>
            </h1>
        </div>
        <div class="panel-collapse collapse in" id="toolbar_color_scheme">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="swatch_container">
                        <div class="swatch" ng-repeat="color in color_scheme.colors" ng-style="{ 'background-color': '{{ color }}'}"></div>
                    </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <label>Base Color</label>

                    <div class="input-group">
                        <span class="input-group-addon" colorpicker ng-model="color_scheme.base_color" style="background-color: {{ color_scheme.base_color }}"></span>
                        <input class="form-control" type="text" colorpicker ng-model="color_scheme.base_color"/>
                    </div>
                </li>
                <li class="list-group-item">
                    <label>Scheme</label>

                    <div class="dropdown">
                        <div class="btn btn-default" data-toggle="dropdown">
                            {{ color_scheme.scheme }}
                            <span class="caret"></span>
                        </div>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li ng-repeat="scheme in color_scheme.schemes" ng-click="color_scheme.scheme = scheme"
                                ng-class="{ active: color_scheme.scheme === scheme }">
                                <a href="">{{ scheme }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#toolbar" data-target="#toolbar_typography">
            <h1 class="panel-title">
                <span class="text-muted">Typography</span>
                <span class="label label-warning">Soon!</span>
            </h1>
        </div>
        <div class="panel-collapse collapse" id="toolbar_typography">
            <ul class="list-group fonts">
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.font_size.control }}px</span>
                    <label>Size
                        <input type="range" min="10" max="21" ng-model="ctrls.font_size.control"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.font_contrast.control }}</span>
                    <label>Contrast
                        <input type="range" ng-model="ctrls.font_contrast.control" min="0" max="1" step="0.01"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ ctrls.line_height.control }}</span>
                    <label>Line Height
                        <input type="range" ng-model="ctrls.line_height.control" min="1" max="2" step="0.01"/>
                    </label>
                </li>
                <li class="list-group-item">
                    <div class="control-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="ctrls.use_google_fonts.control">
                                Use Google Fonts
                            </label>
                        </div>
                    </div>

                    <div ng-hide="ctrls.use_google_fonts.control">
                        <label>Headings</label>

                        <div class="control-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    {{ ctrls.headings_web_safe_font_family.control }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.web_safe.serif"
                                        ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                                        ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.web_safe.sans_serif"
                                        ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                                        ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.web_safe.monospace"
                                        ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                                        ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <label>Body</label>

                        <div class="control-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    {{ ctrls.body_web_safe_font_family.control }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.web_safe.serif"
                                        ng-mouseenter="ctrls.body_web_safe_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.body_web_safe_font_family.preview = null"
                                        ng-click="ctrls.body_web_safe_font_family.style = f.style; ctrls.body_web_safe_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.body_web_safe_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.web_safe.sans_serif"
                                        ng-mouseenter="ctrls.body_web_safe_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.body_web_safe_font_family.preview = null"
                                        ng-click="ctrls.body_web_safe_font_family.style = f.style; ctrls.body_web_safe_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.body_web_safe_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.web_safe.monospace"
                                        ng-mouseenter="ctrls.body_web_safe_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.body_web_safe_font_family.preview = null"
                                        ng-click="ctrls.body_web_safe_font_family.style = f.style; ctrls.body_web_safe_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.body_web_safe_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <label>Code</label>

                        <div class="control-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    {{ ctrls.code_web_safe_font_family.control }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.web_safe.serif"
                                        ng-mouseenter="ctrls.code_web_safe_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.code_web_safe_font_family.preview = null"
                                        ng-click="ctrls.code_web_safe_font_family.style = f.style; ctrls.code_web_safe_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.code_web_safe_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.web_safe.sans_serif"
                                        ng-mouseenter="ctrls.code_web_safe_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.code_web_safe_font_family.preview = null"
                                        ng-click="ctrls.code_web_safe_font_family.style = f.style; ctrls.code_web_safe_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.code_web_safe_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.web_safe.monospace"
                                        ng-mouseenter="ctrls.code_web_safe_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.code_web_safe_font_family.preview = null"
                                        ng-click="ctrls.code_web_safe_font_family.style = f.style; ctrls.code_web_safe_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.code_web_safe_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div ng-show="ctrls.use_google_fonts.control">
                        <label>Headings</label>

                        <div class="control-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    {{ ctrls.headings_google_font_family.control }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.google.serif"
                                        ng-mouseenter="ctrls.headings_google_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.headings_google_font_family.preview = null"
                                        ng-click="ctrls.headings_google_font_family.style = f.style; ctrls.headings_google_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.headings_google_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.google.sans_serif"
                                        ng-mouseenter="ctrls.headings_google_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.headings_google_font_family.preview = null"
                                        ng-click="ctrls.headings_google_font_family.style = f.style; ctrls.headings_google_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.headings_google_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.google.monospace"
                                        ng-mouseenter="ctrls.headings_google_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.headings_google_font_family.preview = null"
                                        ng-click="ctrls.headings_google_font_family.style = f.style; ctrls.headings_google_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.headings_google_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <label>Body</label>

                        <div class="control-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    {{ ctrls.body_google_font_family.control }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.google.serif"
                                        ng-mouseenter="ctrls.body_google_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.body_google_font_family.preview = null"
                                        ng-click="ctrls.body_google_font_family.style = f.style; ctrls.body_google_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.body_google_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.google.sans_serif"
                                        ng-mouseenter="ctrls.body_google_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.body_google_font_family.preview = null"
                                        ng-click="ctrls.body_google_font_family.style = f.style; ctrls.body_google_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.body_google_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.google.monospace"
                                        ng-mouseenter="ctrls.body_google_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.body_google_font_family.preview = null"
                                        ng-click="ctrls.body_google_font_family.style = f.style; ctrls.body_google_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.body_google_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <label>Code</label>

                        <div class="control-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    {{ ctrls.code_google_font_family.control }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.google.serif"
                                        ng-mouseenter="ctrls.code_google_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.code_google_font_family.preview = null"
                                        ng-click="ctrls.code_google_font_family.style = f.style; ctrls.code_google_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.code_google_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.google.sans_serif"
                                        ng-mouseenter="ctrls.code_google_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.code_google_font_family.preview = null"
                                        ng-click="ctrls.code_google_font_family.style = f.style; ctrls.code_google_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.code_google_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                                    <li class="font_option"
                                        ng-repeat="f in fonts.google.monospace"
                                        ng-mouseenter="ctrls.code_google_font_family.preview = f.style"
                                        ng-mouseleave="ctrls.code_google_font_family.preview = null"
                                        ng-click="ctrls.code_google_font_family.style = f.style; ctrls.code_google_font_family.control = f.display_name"
                                        ng-class="{'active': ctrls.code_google_font_family.style === f.style}"
                                        style="font-family: {{ f.style }} !important">
                                        <a href="">{{ f.display_name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <a href="" class="btn btn-default btn-block" ng-click="swap_body_heading_typography()">
                        Body
                        <i class="glyphicon glyphicon-retweet"></i>
                        Headings
                    </a>

                </li>
            </ul>
        </div>
    </div>


</aside>
