@import "bootstrap/bootstrap";

/*
 Bootstrap Overrides
 */
@icon-font-path: 'fonts/';


/*
 LESS Error Message
 */
.less-error-message {
    position: absolute;
    z-index: 9999;
    width: 100%;
}

/*
 App styles
 */
#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .toolbar {
        .make-xs-column(4);
        .make-md-column(3);

        .panel {
            // let dropdowns that overflow be shown
            overflow: visible;

            .list-group {
                margin-bottom: 0;

                .list-group-item {
                    border-left: none;
                    border-right: none;
                    border-bottom: none;
                    border-radius: 0;
                }
            }

            .alert {
                margin: 0;
                border: none;
                border-radius: 0;
            }
        }
    }

    .preview {
        .make-xs-column(8);
        .make-md-column(9);
    }
}

