@import "bootstrap/bootstrap";

/*
 Bootstrap Overrides
 */
@icon-font-path: 'fonts/';


/*
 LESS Error Message
 */
.less-error-message {
    position: absolute;
    z-index: 9999;
    width: 100%;
}

/*
 App styles
 */
#app {

    .toolbar {

        .panel {
            // let dropdowns that overflow be shown
            overflow: visible;

            .list-group {
                margin-bottom: 0;

                .list-group-item {
                    border-left: none;
                    border-right: none;
                    border-bottom: none;
                    border-radius: 0;
                }
            }
        }
    }
    .preview_tabs {
        margin-bottom: @line-height-computed;
    }
}

#code_editor {
    overflow: hidden;
    border-radius: @border-radius-base;
    padding-bottom: 0;
    margin-right: 0;
    margin-bottom: @line-height-computed;
}
