@import "bootstrap/bootstrap";

/*
 Bootstrap Overrides
 */
@icon-font-path: 'fonts/';


/*
 LESS Error Message
 */
.less-error-message {
    position: absolute;
    z-index: 9999;
    width: 100%;
}

/*
 App styles
 */
#app {
    @toolbar_width: 250px;
    @global_padding: 10px;
    @global_margin: @global_padding;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .navbar {
        .download_btn,
        .preview_btn {
            float: right;
            margin-left: ceil(@global_padding * 0.5);
        }
    }
    .toolbar {
        position: fixed;
        padding: @global_padding;
        width: @toolbar_width;

        .fonts {
            .font_option {
                &.active {
                    i {
                        opacity: 1;
                    }
                }

                i {
                    opacity: 0;
                    margin-right: ceil(@global_margin * 0.5);
                }
            }
        }
    }

    .preview {
        padding: @global_padding * 2;
        margin: @global_margin;
        margin-left: @toolbar_width;
    }
}

