<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="bootstyleApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="bootstyleApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="bootstyleApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="bootstyleApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="css/colorpicker.css">
        <link rel="stylesheet" href="css/codemirror/codemirror.css">
        <link rel="stylesheet" href="css/codemirror/ambiance.css">

        <!-- LESS -->
        <link rel="stylesheet/less" href="less/bootstyle.less">

        <!-- Vendor JavaScript -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
        <script src="js/vendor/angular.js"></script>
        <script src="js/vendor/angular-sanitize.min.js"></script>
        <script src="js/vendor/FileSaver.js"></script>
        <script src="js/vendor/color-0.5.0.js"></script>
        <script src="js/vendor/bootstrap-colorpicker-module.js"></script>
        <script src="js/vendor/codemirror/codemirror.js"></script>
        <script src="js/vendor/codemirror/mode/css.js"></script>
        <script src="js/vendor/codemirror/mode/javascript.js"></script>
        <script src="js/vendor/codemirror/mode/xml.js"></script>
        <script src="js/vendor/codemirror/mode/htmlmixed.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.js"></script>

        <!-- Our JavaScript -->
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/services.js"></script>
    </head>

    <body ng-controller="BootstyleCtrl">
        <!-- Dynamic LESS -->
        <link ng-if="bootstyle.settings.sheets.bootstrap_theme" rel="stylesheet/less" href="less/bootstrap/theme.less">
        <link ng-if="bootstyle.settings.sheets.button_style === 'stripe'" rel="stylesheet/less" href="less/buttons_stripe.less">
        <link ng-if="bootstyle.settings.sheets.button_style === 'basecamp'" rel="stylesheet/less" href="less/buttons_basecamp.less">
        <link ng-if="bootstyle.settings.sheets.button_style === 'geckoboard'" rel="stylesheet/less" href="less/buttons_geckoboard.less">
        <link ng-if="bootstyle.settings.sheets.button_style === 'zoomshift'" rel="stylesheet/less" href="less/buttons_zoomshift.less">

        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="app" ng-init="init_bootstyle()">

            <ng-include src=" 'partials/_navbar.html' "></ng-include>

            <div ng-class="bootstyle.settings.grid_container_class">
                <div class="row">

                    <aside class="toolbar col-md-3 col-xs-4" ng-show="bootstyle.settings.is_edit_mode">
                        <ng-include src=" 'partials/_toolbar.html' "></ng-include>
                    </aside>

                    <main ng-class="{'col-xs-8 col-md-9': bootstyle.settings.is_edit_mode}">

                        <ul class="nav nav-tabs">
                            <li ng-click="bootstyle.tab = 'preview'" ng-class="{active: bootstyle.tab === 'preview'}">
                                <a href="">Preview</a>
                            </li>
                            <li ng-click="edit_tab_clicked()" ng-class="{active: bootstyle.tab === 'edit_html'}">
                                <a href="">Edit HTML</a>
                            </li>
                        </ul>

                        <ng-include src=" 'partials/_preview.html' " ng-show="bootstyle.tab === 'preview'"></ng-include>
                        <ng-include src=" 'partials/_code_editor.html' " ng-show="bootstyle.tab === 'edit_html'"></ng-include>

                    </main>

                </div>
            </div>
        </div>

        <ng-include src=" 'partials/_settings_modal.html' "></ng-include>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                        function() {
                            (b[l].q = b[l].q || []).push(arguments)
                        });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>
    </body>
</html>
