<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="boostyleApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="boostyleApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="boostyleApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="boostyleApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/colorpicker.css">

        <!-- LESS -->
        <link rel="stylesheet/less" href="less/bootstyle.less">

        <!-- Vendor JavaScript -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
        <script src="js/vendor/angular.js"></script>
        <script src="js/vendor/bootstrap-colorpicker-module.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
        <!-- set options before less.js script -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.js"></script>

        <!-- Our JavaScript -->
        <script src="js/main.js"></script>
        <script src="js/plugins.js"></script>


    </head>
    <body ng-controller="bootstyleController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Dynamic LESS -->
        <link ng-if="settings.additional_less.bootstrap_theme" rel="stylesheet/less" href="less/bootstrap/theme.less">
        <link ng-if="settings.additional_less.button_style === 'stripe'" rel="stylesheet/less" href="less/buttons_stripe.less">
        <link ng-if="settings.additional_less.button_style === 'basecamp'" rel="stylesheet/less" href="less/buttons_basecamp.less">
        <link ng-if="settings.additional_less.button_style === 'geckoboard'" rel="stylesheet/less" href="less/buttons_geckoboard.less">
        <link ng-if="settings.additional_less.button_style === 'zoomshift'" rel="stylesheet/less" href="less/buttons_zoomshift.less">

        <div id="app" ng-init="init()" ng-class="settings.grid_container_class">
            <div class="row">

                <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Bootstyle</a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li ng-click="reset()">
                                <a href="">
                                    <i class="glyphicon glyphicon-refresh"></i> Reset
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-eye-open"></i> Preview
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-cloud-download"></i> Download
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <aside class="toolbar">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">General</h1>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="settings.additional_less.bootstrap_theme"> Bootstrap Theme
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <label>Grid</label>
                                <div class="control-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="container_classes" name="container_class" value="container" ng-model="settings.grid_container_class">
                                        Fixed
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="container_classes" name="container_class" value="container-fluid" ng-model="settings.grid_container_class">
                                        Fluid
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{ less.padding.master }}px</span>
                                <label>
                                    Padding
                                    <input type="range" ng-model="less.padding.master" min="1" max="20" ng-change="parseInt(less.padding.base.horizontal)"/>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{ less.border_radius_base }}px</span>
                                <label>
                                    Border Radius
                                    <input type="range" ng-model="less.border_radius_base" min="0" max="20" ng-change="parseInt(less.border_radius_base)"/>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Button Styles</h1>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="button_styles" value="default" ng-model="settings.additional_less.button_style"> Default
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="button_styles" value="stripe" ng-model="settings.additional_less.button_style"> Stripe
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="button_styles" value="basecamp" ng-model="settings.additional_less.button_style"> Basecamp
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="button_styles" value="zoomshift" ng-model="settings.additional_less.button_style"> ZoomShift
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="button_styles" value="geckoboard" ng-model="settings.additional_less.button_style"> GeckoBoard
                                    </label>
                                </div>

                            </li>
                        </ul>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Font</h1>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">{{ less.font_size_base }}px</span>
                                <label>
                                    Size
                                    <input type="range" min="10" max="21" ng-model="less.font_size_base"/>
                                </label>
                            </li>
                            <li class="list-group-item fonts">
                                <label>Headings</label>

                                <div class="control-group">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                            {{ less.headings_font_family.display_name }} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation" class="dropdown-header">Google Fonts</li>
                                            <li class="font_option"
                                                ng-repeat="f in fonts.library"
                                                ng-click="less.headings_font_family = f"
                                                ng-mouseenter="less.headings_font_family.preview = f.style"
                                                ng-mouseleave="less.headings_font_family.preview = null"
                                                ng-class="{'active': less.headings_font_family.style === f.style}"
                                                style="font-family: {{ f.style }} !important">
                                                <a href="">
                                                    <i class="glyphicon glyphicon-ok" ng-show="less.headings_font_family.style === f.style"></i>
                                                    {{ f.display_name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item fonts">
                                <label>Body</label>

                                <div class="control-group">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                            {{ less.font_family_base.display_name }} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation" class="dropdown-header">Google Fonts</li>
                                            <li class="font_option"
                                                ng-repeat="f in fonts.library"
                                                ng-click="less.font_family_base = f"
                                                ng-mouseenter="less.font_family_base.preview = f.style"
                                                ng-mouseleave="less.font_family_base.preview = null"
                                                ng-class="{'active': less.font_family_base.style === f.style}"
                                                style="font-family: {{ f.style }} !important">
                                                <a href="">
                                                    <i class="glyphicon glyphicon-ok" ng-show="less.font_family_base.style === f.style"></i>
                                                    {{ f.display_name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Colors</h1>
                        </div>
                        <li class="list-group-item">
                            <span class="badge">{{ less.body_bg }}</span>
                            <label>Background</label>
                            <input class="form-control" colorpicker type="text" ng-model="less.body_bg"/>
                        </li>
                        <li class="list-group-item">
                            <div ng-repeat="(k, v) in less.brand" class="form-group">
                                <label>{{ k | capitalize }}</label>

                                <div class="input-group">
                                    <span class="input-group-addon" style="background-color: {{ less.brand[k] }}"></span>
                                    <input class="form-control" colorpicker type="text" ng-model="less.brand[k]" style="color: {{ less.brand[k] }};"/>
                                </div>
                            </div>
                        </li>
                    </div>

                </aside>

                <main class="preview">
                <div class="buttons">
                    <h1 class="page-header">Buttons</h1>
                    <p>
                        <button type="button" class="btn btn-default">Default</button>
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-warning">Warning</button>
                        <button type="button" class="btn btn-danger">Danger</button>
                        <button type="button" class="btn btn-link">Link</button>
                    </p>
                    <hr/>
                    <p>
                        <button type="button" class="btn btn-primary btn-lg">Large button</button>
                        <button type="button" class="btn btn-default btn-lg">Large button</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary">Default button</button>
                        <button type="button" class="btn btn-default">Default button</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary btn-sm">Small button</button>
                        <button type="button" class="btn btn-default btn-sm">Small button</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                        <button type="button" class="btn btn-default btn-xs">Extra small button</button>
                    </p>
                </div>
                <hr/>
                <div class="typography">

                    <h1 class="page-header">Typography</h1>
                    <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
                    <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
                    <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
                    <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
                    <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
                    <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
                    <hr/>
                    <p class="lead">
                        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                    </p>
                    <hr/>
                    <p>
                        Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br/><br/>
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.<br/><br/>
                        Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                    </p>
                    <hr/>
                    <small>This line of text is meant to be treated as fine print.</small>
                    <hr/>
                    <strong>rendered as bold text</strong>
                    <hr/>
                    <em>rendered as italicized text</em>

                </div>
                <div class="loading">
                    <i class="glyphicon glyphicon-spinner"></i>
                </div>
            </main>

            </div>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
