<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="bootstyleApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="bootstyleApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="bootstyleApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="bootstyleApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/colorpicker.css">

        <!-- LESS -->
        <link rel="stylesheet/less" href="less/bootstyle.less">

        <!-- Vendor JavaScript -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
        <script src="js/vendor/angular.js"></script>
        <script src="js/vendor/FileSaver.js"></script>
        <script src="js/vendor/color-0.5.0.js"></script>
        <script src="js/vendor/bootstrap-colorpicker-module.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.js"></script>

        <!-- Our JavaScript -->
        <script src="js/main.js"></script>
        <script src="js/plugins.js"></script>


    </head>
    <body ng-controller="bootstyleController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Dynamic LESS -->
        <link ng-if="bootstyle.settings.sheets.bootstrap_theme" rel="stylesheet/less" href="less/bootstrap/theme.less">
        <link ng-if="bootstyle.settings.sheets.button_style === 'stripe'" rel="stylesheet/less" href="less/buttons_stripe.less">
        <link ng-if="bootstyle.settings.sheets.button_style === 'basecamp'" rel="stylesheet/less" href="less/buttons_basecamp.less">
        <link ng-if="bootstyle.settings.sheets.button_style === 'geckoboard'" rel="stylesheet/less" href="less/buttons_geckoboard.less">
        <link ng-if="bootstyle.settings.sheets.button_style === 'zoomshift'" rel="stylesheet/less" href="less/buttons_zoomshift.less">

        <div id="app" ng-init="init()">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div ng-class="bootstyle.settings.grid_container_class">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Bootstyle</a>
                    </div>

                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary">
                                <i class="glyphicon glyphicon-cloud-download"></i> Download
                            </button>
                        </div>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="" data-toggle="modal" data-target="#settings_modal">
                                <i class="glyphicon glyphicon-cog"></i> Settings
                            </a>
                        </li>
                        <li ng-click="reset()">
                            <a href=""> <i class="glyphicon glyphicon-refresh"></i> Reset </a>
                        </li>
                        <li ng-click="bootstyle.settings.is_edit_mode = true" ng-hide="bootstyle.settings.is_edit_mode">
                            <a href="#"> <i class="glyphicon glyphicon-pencil"></i> Edit Mode</a>
                        </li>
                        <li ng-click="bootstyle.settings.is_edit_mode = false" ng-show="bootstyle.settings.is_edit_mode">
                            <a href="#"> <i class="glyphicon glyphicon-eye-open"></i> Preview </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div ng-class="bootstyle.settings.grid_container_class">
                <div class="row">

                    <aside class="toolbar panel-group" id="toolbar" ng-show="bootstyle.settings.is_edit_mode">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                <a data-toggle="collapse" data-parent="#toolbar" href="#toolbar_base"> Base</a>
                            </h1>
                        </div>
                        <div class="panel-collapse collapse in" id="toolbar_base">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">{{ bootstrap.scaffolding.body_bg }}</span>
                                    <label>Background</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" colorpicker ng-model="bootstrap.scaffolding.body_bg" style="background-color: {{ bootstrap.scaffolding.body_bg }}"></span>
                                        <input type="text" class="form-control" ng-model="bootstrap.scaffolding.body_bg"/>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">{{ bootstrap.components.padding_control }}px</span>
                                    <label> Padding
                                        <input type="range" ng-model="bootstrap.components.padding_control" min="1" max="20"/>
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">{{ bootstrap.components.border_radius_base }}px</span>
                                    <label>
                                        Border Radius
                                        <input type="range" ng-model="bootstrap.components.border_radius_base" min="0" max="20"/>
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">{{ bootstrap.typography.line_height_base }}</span>
                                    <label>
                                        Line Height
                                        <input type="range" ng-model="bootstrap.typography.line_height_base" min="1" max="2" step="0.01"/>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                <a data-toggle="collapse" data-parent="#toolbar" href="#toolbar_navbar"> Navbar</a>
                            </h1>
                        </div>
                        <div class="panel-collapse collapse" id="toolbar_navbar">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">{{ bootstrap.navbar.height }}px</span>
                                    <label>
                                        Height <input type="range" ng-model="bootstrap.navbar.height" min="20" max="150"/>
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">{{ bootstrap.navbar.margin_bottom }}px</span>
                                    <label>
                                        Margin Bottom <input type="range" ng-model="bootstrap.navbar.margin_bottom" min="0" max="100"/>
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">{{ bootstrap.navbar.bg_control }}</span>
                                    <label>Background</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" colorpicker ng-model="bootstrap.navbar.bg_control" style="background-color: {{ bootstrap.navbar.bg_control }}"></span>
                                        <input class="form-control" type="text" colorpicker ng-model="bootstrap.navbar.bg_control"/>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">{{ bootstyle.variables.methods['@navbar-default-color']() }}</span>
                                    <label>Font Color</label>

                                    <div class="control-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="bootstyle.settings.navbar.has_auto_font_color"> Auto
                                            </label>
                                        </div>
                                    </div>

                                    <div class="input-group" ng-hide="bootstyle.settings.navbar.has_auto_font_color">
                                        <span class="input-group-addon" colorpicker ng-model="bootstrap.navbar.color_control" style="background-color: {{ bootstrap.navbar.color_control }}"></span>
                                        <input class="form-control" type="text" colorpicker ng-model="bootstrap.navbar.color_control"/>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                <a data-toggle="collapse" data-parent="#toolbar" href="#toolbar_fonts"> Fonts </a>
                            </h1>
                        </div>
                        <div class="panel-collapse collapse" id="toolbar_fonts">
                            <ul class="list-group fonts">
                                <li class="list-group-item">
                                    <span class="badge">{{ bootstrap.typography.font_size_base }}px</span> <label> Font Size <input type="range" min="10" max="21" ng-model="bootstrap.typography.font_size_base"/>
                                </label>
                                </li>
                                <li class="list-group-item">
                                    <label>Body</label>

                                    <div class="control-group">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                {{ bootstrap.typography.font_family_base.display_name }}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li role="presentation" class="dropdown-header">Google Fonts</li>
                                                <li class="font_option"
                                                    ng-repeat="f in fonts.library"
                                                    ng-click="bootstrap.typography.font_family_base = f"
                                                    ng-mouseenter="bootstrap.typography.font_family_base.preview = f.style"
                                                    ng-mouseleave="bootstrap.typography.font_family_base.preview = null"
                                                    ng-class="{'active': bootstrap.typography.font_family_base.style === f.style}"
                                                    style="font-family: {{ f.style }} !important">
                                                    <a href="">
                                                        <i class="glyphicon glyphicon-ok" ng-show="bootstrap.typography.font_family_base.style === f.style"></i> {{ f.display_name }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <label>Headings</label>
                                    <div class="control-group">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                {{ bootstrap.typography.headings_font_family.display_name }} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="font_option"
                                                    ng-repeat="f in fonts.library"
                                                    ng-click="bootstrap.typography.headings_font_family = f"
                                                    ng-mouseenter="bootstrap.typography.headings_font_family.preview = f.style"
                                                    ng-mouseleave="bootstrap.typography.headings_font_family.preview = null"
                                                    ng-class="{'active': bootstrap.typography.headings_font_family.style === f.style}"
                                                    style="font-family: {{ f.style }} !important">
                                                    <a href="">
                                                        <i class="glyphicon glyphicon-ok" ng-show="bootstrap.typography.headings_font_family.style === f.style"></i> {{ f.display_name }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                <a data-toggle="collapse" data-parent="#toolbar" href="#toolbar_buttons"> Buttons </a>
                            </h1>
                        </div>
                        <div class="panel-collapse collapse" id="toolbar_buttons">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label>Styles</label>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="button_styles" value="default" ng-model="bootstyle.settings.sheets.button_style"> Default
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="button_styles" value="stripe" ng-model="bootstyle.settings.sheets.button_style"> Stripe
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="button_styles" value="basecamp" ng-model="bootstyle.settings.sheets.button_style"> Basecamp
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="button_styles" value="zoomshift" ng-model="bootstyle.settings.sheets.button_style"> ZoomShift
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="button_styles" value="geckoboard" ng-model="bootstyle.settings.sheets.button_style"> GeckoBoard
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                <a data-toggle="collapse" data-parent="#toolbar" href="#toolbar_brand_colors"> Brand Colors </a>
                            </h1>
                        </div>
                        <div class="panel-collapse collapse" id="toolbar_brand_colors">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div ng-repeat="(k, v) in bootstrap.colors.brand" class="form-group">
                                        <label>{{ k | capitalize }}</label>

                                        <div class="input-group">
                                            <span class="input-group-addon" colorpicker ng-model="bootstrap.colors.brand[k]" style="background-color: {{ bootstrap.colors.brand[k] }}"></span>
                                            <input class="form-control" type="text" colorpicker ng-model="bootstrap.colors.brand[k]"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </aside>

                    <!-- PREVIEW -->

                    <main class="preview" ng-class="{'col-xs-8 col-md-9': bootstyle.settings.is_edit_mode}">
                    <div class="buttons">
                        <h1 class="page-header">Buttons</h1>

                        <p>
                            <button type="button" class="btn btn-default">Default</button>
                            <button type="button" class="btn btn-primary">Primary</button>
                            <button type="button" class="btn btn-success">Success</button>
                            <button type="button" class="btn btn-info">Info</button>
                            <button type="button" class="btn btn-warning">Warning</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                            <button type="button" class="btn btn-link">Link</button>
                        </p>
                        <hr/>
                        <p>
                            <button type="button" class="btn btn-primary btn-lg">Large button</button>
                            <button type="button" class="btn btn-default btn-lg">Large button</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-primary">Default button</button>
                            <button type="button" class="btn btn-default">Default button</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-primary btn-sm">Small button</button>
                            <button type="button" class="btn btn-default btn-sm">Small button</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                            <button type="button" class="btn btn-default btn-xs">Extra small button</button>
                        </p>
                    </div>
                    <hr/>
                    <div class="typography">

                        <h1 class="page-header">Typography</h1>

                        <h1>h1. Bootstrap heading
                            <small>Secondary text</small>
                        </h1>
                        <h2>h4. Bootstrap heading
                            <small>Secondary text</small>
                        </h2>
                        <h3>h3. Bootstrap heading
                            <small>Secondary text</small>
                        </h3>
                        <h4>h4. Bootstrap heading
                            <small>Secondary text</small>
                        </h4>
                        <h5>h5. Bootstrap heading
                            <small>Secondary text</small>
                        </h5>
                        <h6>h6. Bootstrap heading
                            <small>Secondary text</small>
                        </h6>
                        <hr/>
                        <p class="lead">
                            Lead Body <br/>
                            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                        </p>
                        <hr/>
                        <p>
                            Regular Body <br/>
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br/><br/> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.<br/><br/> Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                        </p>
                        <hr/>
                        <small>This line of text is meant to be treated as fine print.</small>
                        <hr/>
                        <strong>rendered as bold text</strong>
                        <hr/>
                        <em>rendered as italicized text</em>

                    </div>
                </main>
                </div>
            </div>

            <!-- SETTINGS MODAL -->

            <div class="modal fade" id="settings_modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">
                                <i class="glyphicon glyphicon-cog"></i> Preview Settings
                            </h4>
                        </div>
                        <div class="modal-body">
                            <label>Theme</label>
                            <div class="control-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="bootstyle.settings.sheets.bootstrap_theme"> Bootstrap Theme
                                    </label>
                                </div>
                                <div ng-show="bootstyle.settings.sheets.bootstrap_theme">
                                    <p>Add this to your <code>&lt;head&gt;</code>:</p>
                                    <pre>&lt;link rel="stylesheet/less" href="path_to/theme.less"&gt;</pre>
                                </div>
                            </div>
                            <hr/>
                            <label>Container</label>
                            <div class="control-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="container_classes" value="container" ng-model="bootstyle.settings.grid_container_class"> container
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="container_classes" value="container-fluid" ng-model="bootstyle.settings.grid_container_class"> container-fluid
                                    </label>
                                </div>
                            </div>
                            <div>
                                <pre>&lt;div class="{{ bootstyle.settings.grid_container_class }}"&gt;...&lt;/div&gt;</pre>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
