<div class="bs_toolbar bs_toolbar_collapsed" id="bs_toolbar_headings">
    <div class="bs_toolbar_title">
        Headings
        <span class="bs_icon_open">
            <i class="fa fa-angle-down"></i>
        </span>
        <span class="bs_icon_close">
            <i class="fa fa-angle-up"></i>
        </span>
    </div>

    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.headings_font_size.control }}px</span>
        <label class="bs_input_label">Size
            <input type="range" class="bs_range_input" min="10" max="21" ng-model="ctrls.headings_font_size.control"/>
        </label>
    </div>

    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.headings_font_weight.control }}</span>
        <label class="bs_input_label">Weight
            <input type="range" class="bs_range_input" ng-model="ctrls.headings_font_weight.control" min="100" max="900" step="100"/>
        </label>
    </div>

    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.headings_line_height.control }}</span>
        <label class="bs_input_label">Line Height
            <input type="range" class="bs_range_input" ng-model="ctrls.headings_line_height.control" min="1" max="2" step="0.01"/>
        </label>
    </div>

    <div class="bs_control">
        <span class="bs_badge bs_badge_swatch" style="background: {{ vars['@headings-color'] }}"></span>
        <label class="bs_input_label">Color</label>

        <input type="text" class="bs_text_input" ng-model="ctrls.headings_font_color.control"/>
        <spectrum-colorpicker ng-model="ctrls.headings_font_color.control" options="{{ spectrum_config }}"></spectrum-colorpicker>
    </div>

</div>
