<div class="bs_toolbar bs_toolbar_collapsed" id="bs_toolbar_jumbotron">
    <div class="bs_toolbar_title">
        Jumbotron
        <span class="bs_icon_open">
            <i class="fa fa-angle-down"></i>
        </span>
        <span class="bs_icon_close">
            <i class="fa fa-angle-up"></i>
        </span>
    </div>

    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.jumbotron_padding.control }}px</span>
        <label class="bs_input_label"> Padding
            <input type="range" class="bs_range_input" ng-model="ctrls.jumbotron_padding.control" min="0" max="200"/>
        </label>
    </div>

    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.jumbotron_font_size.control }}px</span>
        <label class="bs_input_label"> Font Size
            <input type="range" class="bs_range_input" ng-model="ctrls.jumbotron_font_size.control" min="8" max="72"/>
        </label>
    </div>

    <div class="bs_control">
        <span class="bs_badge bs_badge_swatch" style="background-color: {{ ctrls.jumbotron_bg.control }}"></span>
        <label class="bs_input_label">Background</label>

        <input type="text" class="bs_text_input" ng-model="ctrls.jumbotron_bg.control"/>
        <spectrum-colorpicker ng-model="ctrls.jumbotron_bg.control" options="{{ spectrum_config }}"></spectrum-colorpicker>
    </div>

    <div class="bs_control_group">
        <label class="bs_control_group_label">Font Colors</label>

        <div class="bs_control">
            <label class="bs_input_label">Heading Color</label>

            <input type="text" class="bs_text_input" ng-model="ctrls.jumbotron_heading_color.control"/>
            <spectrum-colorpicker ng-model="ctrls.jumbotron_heading_color.control" options="{{ spectrum_config }}"></spectrum-colorpicker>
        </div>

        <div class="bs_control">
            <label class="bs_input_label">Font Color</label>

            <input type="text" class="bs_text_input" ng-model="ctrls.jumbotron_color.control"/>
            <spectrum-colorpicker ng-model="ctrls.jumbotron_color.control" options="{{ spectrum_config }}"></spectrum-colorpicker>
        </div>
    </div>
</div>
