// bootstrap and variable overrides
@import "../../bower/less/bootstrap/bootstrap";


// bootstyle base styles
@import "../shared/mixins";
@import "../shared/utilities";
@import "../shared/variables";


// customize bootstrap
@import "bootstrap_variable_overrides";


// landing page style
body {
    padding-bottom: 20px;
}

.navbar {
    border-bottom: none;
    .navbar-brand {
        padding: 10px;
        color: rgba(0,0,0,0.4);
        font-size: 12px;

        .bs_brand {
            max-width: 100%;
            max-height: 100%;
        }
    }
}


.jumbotron {
    text-align: center;
    margin-bottom: 0;

    .bs_logo {
        margin: 40px 0;

        .bs_icon,
        .bs_full {
            margin: auto;
            max-width: 100%;
        }

        .bs_icon {
            width: 150px;
        }
        .bs_full {
            width: 300px;
        }
    }

    .bs_cta_button {
        padding-top: 60px;
        .btn {
            background: none;
            border: 2px solid #FFF;
        }
    }

}

.btn {
    text-transform: uppercase;
    font-weight: 100;
}

.bs_main_points_wrapper {
    padding: 20px 0;
    text-align: center;
    background: screen(@brand-primary, #DDD);
    background: @bs_gray;
    color: #AAA;

    .bs_main_point {
        padding: 20px 0;

        .bs_main_point_icon {
            box-sizing: content-box;
            display: inline-block;
            margin: auto;
            width: @bs_main_point_size;
            height: @bs_main_point_size;
            line-height: @bs_main_point_size;
            font-size: 3em;
            color: @brand-primary;
            border: 2px solid @brand-primary;
            border-radius: 999px;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #DDD;
        }
    }

    .bs_more {
        padding: 20px 0;
        color: @brand-primary;
    }

}

.bs_section {

    .bs_section_header {
        text-align: center;
        font-size: 4em;
        margin: 100px 0 40px 0;
    }

    &.bs_section_about {

    }
    &.bs_section_why {

    }
    &.bs_section_features {

    }
    &.bs_section_pricing {

    }
}

footer {
    margin-top: 100px;
}
