<div id="bs_toolbar_colors">
    <div class="bs_toolbar_title">Colors</div>

    <div class="bs_control">
        <span class="bs_badge">{{ bootstyle.variables.methods['@body-bg']() }}</span>
        <label>Body</label>

        <span ng-model="ctrls.body_bg.control" style="background-color: {{ ctrls.body_bg.control }}">preview</span>
        <input type="text" ng-model="ctrls.body_bg.control"/>
    </div>

    <div class="bs_control">
        <label>Primary</label>

        <span ng-model="ctrls.brand_primary.control" style="background-color: {{ ctrls.brand_primary.control }}">preview</span>
        <input type="text" ng-model="ctrls.brand_primary.control"/>
    </div>

    <div class="bs_control">
        <label>Success</label>

        <span ng-model="ctrls.brand_success.control" style="background-color: {{ ctrls.brand_success.control }}">preview</span>
        <input type="text" ng-model="ctrls.brand_success.control"/>
    </div>

    <div class="bs_control">
        <label>Info</label>

        <span ng-model="ctrls.brand_info.control" style="background-color: {{ ctrls.brand_info.control }}">preview</span>
        <input type="text" ng-model="ctrls.brand_info.control"/>
    </div>

    <div class="bs_control">
        <label>Warning</label>

        <span ng-model="ctrls.brand_warning.control" style="background-color: {{ ctrls.brand_warning.control }}">preview</span>
        <input type="text" ng-model="ctrls.brand_warning.control"/>
    </div>

    <div class="bs_control">
        <label>Danger</label>

        <span ng-model="ctrls.brand_danger.control" style="background-color: {{ ctrls.brand_danger.control }}">preview</span>
        <input type="text" ng-model="ctrls.brand_danger.control"/>
    </div>

</div>
