<div class="bs_toolbar" id="bs_toolbar_navbar">
    <div class="bs_toolbar_title">Navbar</div>

    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.navbar_height.control }}px</span>
        <label class="bs_input_label">Height</label>
        <input type="range" ng-model="ctrls.navbar_height.control" min="20" max="100"/>
    </div>
    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.navbar_margin_bottom.control }}px</span>
        <label class="bs_input_label">Margin Bottom</label>
        <input type="range" ng-model="ctrls.navbar_margin_bottom.control" min="0" max="100"/>
    </div>
    <div class="bs_control">
        <span class="bs_badge bs_badge_swatch" style="background-color: {{ ctrls.navbar_bg.control }}"></span>
        <label class="bs_input_label">Background</label>

        <input type="text" ng-model="ctrls.navbar_bg.control"/>
        <spectrum-colorpicker ng-model="ctrls.navbar_bg.control" options="{{ spectrum_config }}"></spectrum-colorpicker>
    </div>

    <div class="bs_control_group">
        <span class="bs_badge" ng-show="ctrls.navbar_is_auto_color.control">{{ vars['@navbar-inverse-color'] }}</span>
        <label class="bs_control_group_label">Font Color</label>

        <div class="bs_control">
            <label class="bs_input_label">
                <input type="checkbox" ng-model="ctrls.navbar_is_auto_color.control">
                Auto
            </label>
        </div>

        <div class="bs_control" ng-hide="ctrls.navbar_is_auto_color.control">
            <input type="text" ng-model="ctrls.navbar_font_color.control"/>
            <spectrum-colorpicker ng-model="ctrls.navbar_font_color.control" options="{{ spectrum_config }}"></spectrum-colorpicker>
        </div>
    </div>
</div>
