<div class="bs_toolbar" id="bs_toolbar_colors">
    <div class="bs_toolbar_title">Colors</div>

    <div class="bs_control_group">
        <span class="bs_badge">
            {{ vars['@gray-darker']|uppercase }}<br/>
            {{ vars['@gray-dark']|uppercase }}<br/>
            {{ vars['@gray']|uppercase }}<br/>
            {{ vars['@gray-light']|uppercase }}<br/>
            {{ vars['@gray-lighter']|uppercase }}
        </span>
        <label class="bs_control_group_label">Grays</label>

        <div class="bs_control">
            <label class="bs_input_label">
                Darkest
                <input type="range" ng-model="ctrls.grays.control.darkest" min="0" max="100" step="0.01"/>
            </label>
        </div>
        <div class="bs_control">
            <label class="bs_input_label">
                Ligthest
                <input type="range" ng-model="ctrls.grays.control.lightest" min="0" max="100" step="0.01"/>
            </label>
        </div>
    </div>

    <div class="bs_control">
        <!--<span class="bs_badge bs_badge_swatch" ng-model="ctrls.body_bg.control" style="background-color: {{ vars['@body-bg'] }}"></span>-->
        <label class="bs_input_label">Body</label>

        <input type="text" ng-model="ctrls.body_bg.control"/>
        <spectrum-colorpicker ng-model="ctrls.body_bg.control" options="{{ spectrum_config }}"></spectrum-colorpicker>

    </div>

    <div class="bs_control_group">
        <label class="bs_control_group_label">Brand</label>

        <div class="bs_control">
            <label class="bs_input_label">Primary</label>
            <input type="text" ng-model="ctrls.brand_primary.control"/>
            <spectrum-colorpicker ng-model="ctrls.brand_primary.control" options="{{ spectrum_config }}"></spectrum-colorpicker>
        </div>

        <div class="bs_control">
            <label class="bs_input_label">Success</label>
            <input type="text" ng-model="ctrls.brand_success.control"/>
            <spectrum-colorpicker ng-model="ctrls.brand_success.control" options="{{ spectrum_config }}"></spectrum-colorpicker>
        </div>

        <div class="bs_control">
            <label class="bs_input_label">Info</label>
            <input type="text" ng-model="ctrls.brand_info.control"/>
            <spectrum-colorpicker ng-model="ctrls.brand_info.control" options="{{ spectrum_config }}"></spectrum-colorpicker>
        </div>

        <div class="bs_control">
            <label class="bs_input_label">Warning</label>
            <input type="text" ng-model="ctrls.brand_warning.control"/>
            <spectrum-colorpicker ng-model="ctrls.brand_warning.control" options="{{ spectrum_config }}"></spectrum-colorpicker>
        </div>

        <div class="bs_control">
            <label class="bs_input_label">Danger</label>
            <input type="text" ng-model="ctrls.brand_danger.control"/>
            <spectrum-colorpicker ng-model="ctrls.brand_danger.control" options="{{ spectrum_config }}"></spectrum-colorpicker>
        </div>
    </div>

</div>
