<div id="bs_toolbar_typography">
    <div class="bs_toolbar_title">Typography</div>

    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.font_size.control }}px</span>
        <label>Size
            <input type="range" min="10" max="21" ng-model="ctrls.font_size.control"/>
        </label>
    </div>
    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.font_contrast.control }}</span>
        <label>Contrast
            <input type="range" ng-model="ctrls.font_contrast.control" min="0" max="1" step="0.01"/>
        </label>
    </div>
    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.line_height.control }}</span>
        <label>Line Height
            <input type="range" ng-model="ctrls.line_height.control" min="1" max="2" step="0.01"/>
        </label>
    </div>
    <div class="bs_control">
        <label>
            <input type="checkbox" ng-model="ctrls.use_google_fonts.control">
            Use Google Fonts
        </label>
    </div>

    <ul class="list-group fonts">

            <div ng-hide="ctrls.use_google_fonts.control">
                <label>Headings</label>

                <div class="control-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            {{ ctrls.headings_web_safe_font_family.control }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.web_safe.serif"
                                ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                                ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                                ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.web_safe.sans_serif"
                                ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                                ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                                ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.web_safe.monospace"
                                ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                                ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                                ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <label>Body</label>

                <div class="control-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            {{ ctrls.body_web_safe_font_family.control }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.web_safe.serif"
                                ng-mouseenter="ctrls.body_web_safe_font_family.preview = f.style"
                                ng-mouseleave="ctrls.body_web_safe_font_family.preview = null"
                                ng-click="ctrls.body_web_safe_font_family.style = f.style; ctrls.body_web_safe_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.body_web_safe_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.web_safe.sans_serif"
                                ng-mouseenter="ctrls.body_web_safe_font_family.preview = f.style"
                                ng-mouseleave="ctrls.body_web_safe_font_family.preview = null"
                                ng-click="ctrls.body_web_safe_font_family.style = f.style; ctrls.body_web_safe_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.body_web_safe_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.web_safe.monospace"
                                ng-mouseenter="ctrls.body_web_safe_font_family.preview = f.style"
                                ng-mouseleave="ctrls.body_web_safe_font_family.preview = null"
                                ng-click="ctrls.body_web_safe_font_family.style = f.style; ctrls.body_web_safe_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.body_web_safe_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <label>Code</label>

                <div class="control-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            {{ ctrls.code_web_safe_font_family.control }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.web_safe.serif"
                                ng-mouseenter="ctrls.code_web_safe_font_family.preview = f.style"
                                ng-mouseleave="ctrls.code_web_safe_font_family.preview = null"
                                ng-click="ctrls.code_web_safe_font_family.style = f.style; ctrls.code_web_safe_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.code_web_safe_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.web_safe.sans_serif"
                                ng-mouseenter="ctrls.code_web_safe_font_family.preview = f.style"
                                ng-mouseleave="ctrls.code_web_safe_font_family.preview = null"
                                ng-click="ctrls.code_web_safe_font_family.style = f.style; ctrls.code_web_safe_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.code_web_safe_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.web_safe.monospace"
                                ng-mouseenter="ctrls.code_web_safe_font_family.preview = f.style"
                                ng-mouseleave="ctrls.code_web_safe_font_family.preview = null"
                                ng-click="ctrls.code_web_safe_font_family.style = f.style; ctrls.code_web_safe_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.code_web_safe_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-show="ctrls.use_google_fonts.control">
                <label>Headings</label>

                <div class="control-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            {{ ctrls.headings_google_font_family.control }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.google.serif"
                                ng-mouseenter="ctrls.headings_google_font_family.preview = f.style"
                                ng-mouseleave="ctrls.headings_google_font_family.preview = null"
                                ng-click="ctrls.headings_google_font_family.style = f.style; ctrls.headings_google_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.headings_google_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.google.sans_serif"
                                ng-mouseenter="ctrls.headings_google_font_family.preview = f.style"
                                ng-mouseleave="ctrls.headings_google_font_family.preview = null"
                                ng-click="ctrls.headings_google_font_family.style = f.style; ctrls.headings_google_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.headings_google_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.google.monospace"
                                ng-mouseenter="ctrls.headings_google_font_family.preview = f.style"
                                ng-mouseleave="ctrls.headings_google_font_family.preview = null"
                                ng-click="ctrls.headings_google_font_family.style = f.style; ctrls.headings_google_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.headings_google_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <label>Body</label>

                <div class="control-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            {{ ctrls.body_google_font_family.control }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.google.serif"
                                ng-mouseenter="ctrls.body_google_font_family.preview = f.style"
                                ng-mouseleave="ctrls.body_google_font_family.preview = null"
                                ng-click="ctrls.body_google_font_family.style = f.style; ctrls.body_google_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.body_google_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.google.sans_serif"
                                ng-mouseenter="ctrls.body_google_font_family.preview = f.style"
                                ng-mouseleave="ctrls.body_google_font_family.preview = null"
                                ng-click="ctrls.body_google_font_family.style = f.style; ctrls.body_google_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.body_google_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.google.monospace"
                                ng-mouseenter="ctrls.body_google_font_family.preview = f.style"
                                ng-mouseleave="ctrls.body_google_font_family.preview = null"
                                ng-click="ctrls.body_google_font_family.style = f.style; ctrls.body_google_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.body_google_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <label>Code</label>

                <div class="control-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            {{ ctrls.code_google_font_family.control }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.google.serif"
                                ng-mouseenter="ctrls.code_google_font_family.preview = f.style"
                                ng-mouseleave="ctrls.code_google_font_family.preview = null"
                                ng-click="ctrls.code_google_font_family.style = f.style; ctrls.code_google_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.code_google_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.google.sans_serif"
                                ng-mouseenter="ctrls.code_google_font_family.preview = f.style"
                                ng-mouseleave="ctrls.code_google_font_family.preview = null"
                                ng-click="ctrls.code_google_font_family.style = f.style; ctrls.code_google_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.code_google_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                            <li class="font_option"
                                ng-repeat="f in fonts.google.monospace"
                                ng-mouseenter="ctrls.code_google_font_family.preview = f.style"
                                ng-mouseleave="ctrls.code_google_font_family.preview = null"
                                ng-click="ctrls.code_google_font_family.style = f.style; ctrls.code_google_font_family.control = f.display_name"
                                ng-class="{'active': ctrls.code_google_font_family.style === f.style}"
                                style="font-family: {{ f.style }} !important">
                                <a href="">{{ f.display_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <a href="" class="btn btn-default btn-block" ng-click="swap_body_heading_typography()">
                Body
                <i class="glyphicon glyphicon-retweet"></i>
                Headings
            </a>

        </div>
    </ul>

</div>
