<div id="bs_toolbar_headings">
    <div class="bs_toolbar_title">Headings</div>

    <div class="bs_control">
        <label>Font</label>

        <div class="control-group">
            <div class="btn-group">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                    {{ ctrls.headings_web_safe_font_family.control }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header" style="font-family: serif !important;">Serif</li>
                    <li class="font_option"
                        ng-repeat="f in fonts.web_safe.serif"
                        ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                        ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                        ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                        ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                        style="font-family: {{ f.style }} !important">
                        <a href="">{{ f.display_name }}</a>
                    </li>
                    <li class="divider"></li>
                    <li role="presentation" class="dropdown-header" style="font-family: sans-serif !important;">Sans-Serif</li>
                    <li class="font_option"
                        ng-repeat="f in fonts.web_safe.sans_serif"
                        ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                        ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                        ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                        ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                        style="font-family: {{ f.style }} !important">
                        <a href="">{{ f.display_name }}</a>
                    </li>
                    <li class="divider"></li>
                    <li role="presentation" class="dropdown-header" style="font-family: monospace !important;">Monospace</li>
                    <li class="font_option"
                        ng-repeat="f in fonts.web_safe.monospace"
                        ng-mouseenter="ctrls.headings_web_safe_font_family.preview = f.style"
                        ng-mouseleave="ctrls.headings_web_safe_font_family.preview = null"
                        ng-click="ctrls.headings_web_safe_font_family.style = f.style; ctrls.headings_web_safe_font_family.control = f.display_name"
                        ng-class="{'active': ctrls.headings_web_safe_font_family.style === f.style}"
                        style="font-family: {{ f.style }} !important">
                        <a href="">{{ f.display_name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.headings_font_size.control }}px</span>
        <label>Size
            <input type="range" min="10" max="21" ng-model="ctrls.headings_font_size.control"/>
        </label>
    </div>
    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.headings_font_weight.control }}</span>
        <label>Weight
            <input type="range" ng-model="ctrls.headings_font_weight.control" min="100" max="900" step="100"/>
        </label>
    </div>
    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.headings_font_contrast.control }}</span>
        <label>Contrast
            <input type="range" ng-model="ctrls.headings_font_contrast.control" min="0" max="1" step="0.01"/>
        </label>
    </div>
    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.headings_line_height.control }}</span>
        <label>Line Height
            <input type="range" ng-model="ctrls.headings_line_height.control" min="1" max="2" step="0.01"/>
        </label>
    </div>
    <div class="bs_control">
        <span class="bs_badge">{{ vars['@headings-color'] }}</span>
        <label>Color</label>

        <label>
            <input ng-model="ctrls.headings_is_auto_color.control">
            Auto
        </label>
        <div ng-hide="ctrls.headings_is_auto_color.control">
            <span colorpicker ng-model="ctrls.headings_font_color.control" style="background-color: {{ vars['@headings-color'] }}"></span>
            <input type="text" colorpicker ng-model="ctrls.headings_font_color.control"/>
        </div>
    </div>

</div>
