<link rel="stylesheet" href="css/landing_page/landing_page.css">

<div id="bs_home" ng-init="init()" ng-show="initialized">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img class="bs_brand" src="../../img/logo-white.png" alt="Bootstyle Logo"/>
                    beta
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="mailto:bootstyle@levithomason.com"><i class="fa fa-envelope-o"></i> Contact Us</a></li>
                    <li><a href="/app"><i class="fa fa-rocket"></i> Launch App</a></li>
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="bs_logo">
                <img class="bs_full hidden-xs" src="../../img/logo-white.png" alt="Bootstyle Logo"/>
                <img class="bs_icon visible-xs" src="../../img/icon-white.png" alt="Bootstyle Logo"/>
            </div>
            <h3>Customizing Bootstrap is now a freakin’ pleasure.</h3>
            <!--
            <h3>Glorified Bootstrap customizer.</h3>
            <h2>The Bootstrap customizer that makes you so freakin’ happy.</h2>
            <h2>Make your Bootstrap site look like... well, yours.</h2>
            <h2>Because your Bootstrap site shouldn’t look like everyone else’s.</h2>
            -->
            <!--<p class="lead">A Bootstrap customizer crafted by developers and designers, with so much love.</p>-->
            <div class="bs_cta">
                <div ng-if="user.uid">
                    You're logged in!
                </div>
                <div class="row" ng-if="!user">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div ng-show="login_form === 'github'">
                            <div class="btn btn-primary btn-lg" ng-click="loginWithGithub()">
                                <i class="fa fa-github-alt"></i>
                                Launch with GitHub
                            </div>
                            <div></div>
                            <div class="btn btn-link" ng-click="setLoginForm('email')">
                                use your email
                            </div>
                        </div>
                        <form name="email_login_form" ng-show="login_form === 'email'">
                            <div class="form-group">
                                <input type="text" name="login_email" class="form-control" placeholder="email" autofocus="autofocus"/>
                            </div>
                            <div class="form-group">
                                <input type="password" name="login_password" class="form-control" placeholder="password"/>
                            </div>
                            <div class="form-group">
                                <a href="/app" class="btn btn-primary btn-lg" role="button">
                                    <i class="fa fa-rocket"></i>
                                    Launch
                                </a>
                                <div></div>
                                <div class="btn btn-link" ng-click="setLoginForm('github')">
                                    <i class="fa fa-angle-double-left"></i> GitHub
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bs_main_points_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="bs_main_point">
                        <div class="bs_main_point_icon">
                            <i class="fa fa-bolt"></i>
                        </div>
                        <h3>Live Preview</h3>

                        <p>Never hit the refresh button again. Bootstyle renders your changes as you make them.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="bs_main_point">
                        <div class="bs_main_point_icon">
                            <i class="fa fa-exchange"></i>
                        </div>
                        <h3>Multi-Browser Sync</h3>

                        <p>Watch your changes on as many devices as you like, in real time, without installing anything. Is this real life?</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="bs_main_point">
                        <div class="bs_main_point_icon">
                            <i class="fa fa-sliders"></i>
                        </div>
                        <h3>Powerful Controls</h3>

                        <p>Sliders, color pickers, and inputs that
                            <b>compile LESS</b> on the fly. We're just gettin' started.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="bs_main_point">
                        <div class="bs_main_point_icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <h3>Your HTML</h3>

                        <p>A full featured HTML editor? Yep. Paste in your actual Bootstrap HTML markup and tweak to your hearts content.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="bs_more">
                        ...omg, there's more
                        <i class="fa fa-angle-double-down"></i>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bs_section bs_section_about">
        <div class="container">
            <h1 class="bs_section_header">About Bootstyle</h1>

            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <h2>What it Bootstyle?</h2>

                    <p>
                        Bootstyle is a full featured
                        <a href="https://www.getbootstrap.com" target="_blank">Twitter Bootstrap</a> customizer.
                        It's like a Bootstrap theme roller on steroids.
                        We're bringing the desktop design tools you know and love to Twitter Bootstrap customization on the web.
                        Things like sliders, color pickers, and so much more.
                    </p>

                    <p>
                        Bootstyle aims to be a Bootstrap customizer for developers and designers alike.
                        It has been carefully crafted with so much love by developers and designers who love Bootstrap.
                    </p>

                    <h2>Why Bootstyle?</h2>

                    <p>
                        We built Bootstyle because we don't design great we pages in text editors.
                        We use design tools.
                        Bootstrap deserves a design tool.
                        One built by designers and developers.
                        So, here it is.
                        We hope you love it as much as we do!
                    </p>

                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <a class="btn btn-primary btn-lg btn-block" href="/app">
                        <i class="fa fa-rocket"></i>
                        No one reads this, Launch!
                    </a>
                </div>
            </div>
            <hr/>
        </div>
    </div>

    <div class="bs_section bs_section_features">
        <div class="container">
            <h1 class="bs_section_header">Features</h1>

            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <h2><i class="fa fa-bolt"></i> Live Preview</h2>

                    <p>
                        See your changes as you make them.
                        No browser refreshes here.
                        No plugins or extensions required, either.
                        Just tweak the controls and watch your creative genius unfold right in front of you.
                    </p>


                    <hr/>

                    <h2><i class="fa fa-exchange"></i> Multi-Browser Sync</h2>

                    <p>This feature is currently under development. Stay tuned and be the first to witness the glory!</p>

                    <hr/>

                    <h2><i class="fa fa-sliders"></i> Powerful Controls</h2>
                    <ul>
                        <li>Simple to use, powerfully implemented. Get more done and be happier doing it.</li>
                        <li>Color pickers</li>
                        <li>
                            Super smart text inputs that process:
                            <ul>
                                <li>3 or 6 digit hex colors: #000, #123456...</li>
                                <li>
                                    <a href="http://www.w3schools.com/cssref/css_colornames.asp">CSS color names</a>: red, lightcoral, cornflowerblue...
                                </li>
                                <li>
                                    <a href="http://getbootstrap.com/customize/#less-variables">Bootstrap LESS variables</a>: @brand-primary, @body-bg...
                                </li>
                                <li>
                                    <a href="http://www.w3schools.com/cssref/css_colors_legal.asp">CSS color functions</a>: rgb(), rgba(), hsl(), hsla()
                                </li>
                                <li>
                                    <a href="http://lesscss.org/functions/">Any LESS function</a>: lighten(color, amount), mix(color1, color2)...
                                </li>
                            </ul>
                        </li>
                        <li>Readout badges</li>
                        <li>Color swatches</li>
                        <li>Range sliders</li>
                        <li>Macro functionality built into to many controls.</li>
                    </ul>

                    <hr/>

                    <h2><i class="fa fa-code"></i> HTML Editor</h2>

                    <p>
                        Sick of lorem ipsum?
                        Wish you could see that template applied to your actual content?
                        Now you can, just hit 'Edit HTML' and paste in your own template.
                        Your changes are immediately available when you switch back to preview.
                    </p>

                    <hr/>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <h3 class="text-center">We're just gettin' started. Super sexy sauce is brewing in the labs right now...</h3>
                    <a class="btn btn-primary btn-lg btn-block" href="/app">
                        <i class="fa fa-rocket"></i>
                        Launch It!
                    </a>
                </div>
            </div>

            <hr/>

        </div>
    </div>

    <div class="bs_section bs_section_pricing">
        <div class="container">
            <h1 class="bs_section_header">Pricing</h1>

            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Good news, Bootstyle is 100% <b>free</b> during beta, for everyone.</h2>

                <hr/>

                <h3>Free stuff after beta:</h3>
                <ul>
                    <li>We're paying it back to the community, so basic customizing Bootstrap with Bootstyle will be free. Forever. Period.</li>
                    <li>Live Preview</li>
                    <li>Powerful Controls</li>
                    <li>LESS Compiling</li>
                    <li>HTML Editor <i>(preview your own Bootstrap markup)</i></li>
                    <li>Download</li>
                </ul>

                <hr/>

                <h3>Paid stuff after beta:</h3>
                <ul>
                    <li>Multi-browser Sync</li>
                    <li>Saving Themes</li>
                    <li>Secret sauce features cookin' in the lab</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <footer>
                    <p>&copy; Bootstyle 2014</p>
                </footer>
            </div>
        </div>
    </div>

</div>
