<div class="bs-editor" ng-class="{ 'show-toolbar': editorCtrl.toolbar.is-active }">
    <!--<link rel="stylesheet" href="css/app/app.css">-->
    <!--<link rel="stylesheet/less" href="less/app.less">-->

    <div class="bs-loading-container" ng-show="!editorCtrl.initialized">
        <div class="bs-loading">
            <img src="../../assets/img/icon-white.png" alt=""/>
        </div>
    </div>

    <div ng-show="editorCtrl.initialized">
        <!-- Dynamic LESS -->
        <ng-include src=" 'views/editor/dynamic-less.html' "></ng-include>
        <!--<bs-toolbar></bs-toolbar>-->
        <ng-include src=" 'views/editor/toolbar/toolbar-toggle.html' "></ng-include>

        <div class="bs-content-area">
            <ng-include src=" 'views/editor/preview/preview.html' " ng-hide="editorCtrl.settings.isHtmlMode"></ng-include>
            <ng-include src=" 'views/editor/code-editor/code-editor.html' " ng-show="editorCtrl.settings.isHtmlMode"></ng-include>
        </div>

        <ng-include src=" 'views/editor/download-modal.html' "></ng-include>
        <ng-include src=" 'views/editor/reset-modal.html' "></ng-include>
    </div>
</div>
