<div id="bs_toolbar">
    <div class="bs_brand">
        <i class="bs_icon glyphicon glyphicon-fire"></i>
        <span class="bs_name">Bootstyle</span>
        <span class="bs_version" bootstyle-version></span>
    </div>
    <hr/>
    <ul class="bs_sections">
        <li class="bs_section">Base</li>
        <li class="bs_section">Navbar</li>
        <li class="bs_section">Jumbotron</li>
        <li class="bs_section">Headings</li>
        <li class="bs_section">Buttons</li>
        <li class="bs_section">Colors</li>
        <li class="bs_section">Color Scheme</li>
        <li class="bs_section">Typography</li>
    </ul>

    <bs-range-control bs-title="Border Radius" bs-min="1" bs-max="20" bs-default="4"></bs-range-control>
    <bs-range-control bs-title="Padding" bs-min="0" bs-max="20" bs-default="10"></bs-range-control>
    <bs-radio-control bs-title="Testing" bs-items="ABC"></bs-radio-control>

    <div class="bs_btns">
        <div class="bs_btn bs_btn_block bs_btn_outline">
            <i class="glyphicon glyphicon-pencil"></i>
            Edit HTML
        </div>
        <div class="bs_btn bs_btn_block bs_btn_outline">
            <i class="glyphicon glyphicon-eye-open"></i>
            Preview
        </div>
        <div class="bs_btn bs_btn_block bs_btn_red">
            <i class="glyphicon glyphicon-download"></i>
            Download
        </div>
    </div>
</div>
