<div id="bs_toolbar">
    <div class="bs_brand">
        <i class="bs_icon glyphicon glyphicon-fire"></i>
        <span class="bs_name">Bootstyle</span>
        <span class="bs_version" bootstyle-version></span>
    </div>
    <hr/>
    <ul class="bs_sections">
        <li class="bs_section">Base</li>
        <li class="bs_section">Navbar</li>
        <li class="bs_section">Jumbotron</li>
        <li class="bs_section">Headings</li>
        <li class="bs_section">Buttons</li>
        <li class="bs_section">Colors</li>
        <li class="bs_section">Color Scheme</li>
        <li class="bs_section">Typography</li>
    </ul>

    <bs-range-control bs_title="Testing" bs_min="1" bs_max="6" bs_default="3"></bs-range-control>
    <bs-range-control bs_title="Testing" bs_min="1" bs_max="100" bs_default="50"></bs-range-control>
    <bs-range-control bs_title="Testing" bs_min="1" bs_max="100" bs_default="50"></bs-range-control>

    <div class="bs_btns">
        <div class="bs_btn bs_btn_block bs_btn_outline">
            <i class="glyphicon glyphicon-pencil"></i>
            Edit HTML
        </div>
        <div class="bs_btn bs_btn_block bs_btn_outline">
            <i class="glyphicon glyphicon-eye-open"></i>
            Preview
        </div>
        <div class="bs_btn bs_btn_block bs_btn_red">
            <i class="glyphicon glyphicon-download"></i>
            Download
        </div>
    </div>
</div>
