<div class="bs_toolbar bs_toolbar_collapsed" id="bs_toolbar_buttons">
    <div class="bs_toolbar_title">
        Buttons
        <span class="bs_icon_open">
            <i class="fa fa-angle-down"></i>
        </span>
        <span class="bs_icon_close">
            <i class="fa fa-angle-up"></i>
        </span>
    </div>

    <div class="bs_control">
        <span class="bs_badge">{{ ctrls.button_font_weight.control }}</span>
        <label class="bs_input_label"> Font Weight
            <input type="range" class="bs_range_input" ng-model="ctrls.button_font_weight.control" min="100" max="900" step="100"/>
        </label>
    </div>

    <div class="bs_control_group">
        <label class="bs_control_group_label">Styles</label>

        <div class="bs_control">
            <label class="bs_input_label">
                <input type="radio" name="button_styles" value="default" ng-model="ctrls.button_style.control">
                Default
            </label>
            <label class="bs_input_label" ng-repeat="s in stylesheets.button_styles">
                <input type="radio" name="button_styles" ng-value="s.name" ng-model="ctrls.button_style.control">
                {{ s.name }}
            </label>
        </div>
    </div>

    <div class="bs_control">
        <label class="bs_input_label">
            <input type="checkbox" ng-model="ctrls.buttons_uppercase.control">
            Uppercase
        </label>
    </div>

</div>
